@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center mt-3 text-pink">Bienvenidos a Taka Taka 🎈</h1>

<p class="text-center">Salón de fiestas infantiles y teens</p>

<div id="carouselTakaTaka" class="carousel slide mt-4" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/foto1.jpg" class="d-block w-100 rounded-4 shadow" alt="Fiesta 1">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTakaTaka" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTakaTaka" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>